<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tarviliivak.expandablelistview">

    <uses-permission android:name="android.permission.INTERNET">

    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ikoon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".TTKo19"></activity>
        <activity android:name=".Auto" />
        <activity android:name=".Construction" />
        <activity android:name=".Beauty_textile" />
        <activity android:name=".ICT" />
        <activity android:name=".Tech" />
        <activity android:name=".Food_tourism" />
        <activity android:name=".Business" />
        <activity android:name=".TSTt218" />
        <activity android:name=".TSTt19" />
        <activity android:name=".TSTt118" />
        <activity android:name=".TK19" />
        <activity android:name=".TK18" />
        <activity android:name=".TEP19" />
        <activity android:name=".TEP18" />
        <activity android:name=".TEP17" />
        <activity android:name=".RB19" />
        <activity android:name=".RB18" />
        <activity android:name=".PK19" />
        <activity android:name=".PK18" />
        <activity android:name=".PK17" />
        <activity android:name=".PA19" />
        <activity android:name=".PA18" />
        <activity android:name=".MJK19" />
        <activity android:name=".MJ219" />
        <activity android:name=".MJ218" />
        <activity android:name=".MJ217" />
        <activity android:name=".MJ119" />
        <activity android:name=".MJ118" />
        <activity android:name=".MJ117" />
        <activity android:name=".LTo19" />
        <activity android:name=".KPKo19" />
        <activity android:name=".KPKo18" />
        <activity android:name=".KPKo17" />
        <activity android:name=".KPAo19" />
        <activity android:name=".KPAo18" />
        <activity android:name=".Kokk19" />
        <activity android:name=".KO19" />
        <activity android:name=".KO18" />
        <activity android:name=".KKo19" />
        <activity android:name=".KKo18" />
        <activity android:name=".KKo17" />
        <activity android:name=".KK19" />
        <activity android:name=".KK18" />
        <activity android:name=".KK17" />
        <activity android:name=".KEo219" />
        <activity android:name=".KEo19" />
        <activity android:name=".KA219" />
        <activity android:name=".KA218" />
        <activity android:name=".KA19" />
        <activity android:name=".KA18" />
        <activity android:name=".K318" />
        <activity android:name=".K219" />
        <activity android:name=".K218" />
        <activity android:name=".K217" />
        <activity android:name=".K119" />
        <activity android:name=".K118" />
        <activity android:name=".K117" />
        <activity android:name=".HTS19" />
        <activity android:name=".GI19" />
        <activity android:name=".GI18" />
        <activity android:name=".AI19" />
        <activity android:name=".AI18" />
        <activity android:name=".AP19" />
        <activity android:name=".AP18" />
        <activity android:name=".VKO18" />
        <activity android:name=".TPK19" />
        <activity android:name=".TP19" />
        <activity android:name=".TP17" />
        <activity android:name=".MEt19" />
        <activity android:name=".MEP19" />
        <activity android:name=".MEP18" />
        <activity android:name=".ME19" />
        <activity android:name=".ME18" />
        <activity android:name=".ME17" />
        <activity android:name=".LSK19" />
        <activity android:name=".LS18" />
        <activity android:name=".KVO19" />
        <activity android:name=".KV19" />
        <activity android:name=".KV18" />
        <activity android:name=".KV17" />
        <activity android:name=".EL19" />
        <activity android:name=".EL18" />
        <activity android:name=".EL17" />
        <activity android:name=".Eht19" />
        <activity android:name=".EH19" />
        <activity android:name=".EH18" />
        <activity android:name=".EH17" />
        <activity android:name=".SPA19" />
        <activity android:name=".SPA18" />
        <activity android:name=".PT19" />
        <activity android:name=".OM19" />
        <activity android:name=".NRT19" />
        <activity android:name=".MRT19" />
        <activity android:name=".MRT18" />
        <activity android:name=".KSM19" />
        <activity android:name=".KSM18" />
        <activity android:name=".KR219" />
        <activity android:name=".KR218" />
        <activity android:name=".KRR19" />
        <activity android:name=".KRR18" />
        <activity android:name=".KRR17" />
        <activity android:name=".ILU218" />
        <activity android:name=".ILU19" />
        <activity android:name=".ILU18" />
        <activity android:name=".VSo19" />
        <activity android:name=".VS19" />
        <activity android:name=".VS18" />
        <activity android:name=".TI19" />
        <activity android:name=".TI18" />
        <activity android:name=".SYSt19" />
        <activity android:name=".SYS18" />
        <activity android:name=".Koo19" />
        <activity android:name=".KD19" />
        <activity android:name=".KD18" />
        <activity android:name=".ITA19" />
        <activity android:name=".ISP218" />
        <activity android:name=".ISP217" />
        <activity android:name=".ISP19" />
        <activity android:name=".ISP118" />
        <activity android:name=".ISP117" />
        <activity android:name=".IS19" />
        <activity android:name=".IS118" />
        <activity android:name=".PTS219" />
        <activity android:name=".PTS19" />
        <activity android:name=".PPO19" />
        <activity android:name=".PLA219" />
        <activity android:name=".PLA19" />
        <activity android:name=".MTK19" />
        <activity android:name=".MTK18" />
        <activity android:name=".MTK17" />
        <activity android:name=".MT19" />
        <activity android:name=".MT18" />
        <activity android:name=".MT117" />
        <activity android:name=".LE19" />
        <activity android:name=".LE18" />
        <activity android:name=".LE17" />
        <activity android:name=".KJL218" />
        <activity android:name=".KJL19" />
        <activity android:name=".EVM19" />
        <activity android:name=".EVM18" />
        <activity android:name=".EV219" />
        <activity android:name=".EV218" />
        <activity android:name=".EV217" />
        <activity android:name=".EV119" />
        <activity android:name=".EV118" />
        <activity android:name=".EV117" />
        <activity android:name=".CNC219" />
        <activity android:name=".CNC19" />
        <activity android:name=".SRo19" />
        <activity android:name=".SRo18" />
        <activity android:name=".RMt19" />
        <activity android:name=".RMo19" />
        <activity android:name=".RMo18" />
        <activity android:name=".MYEo19" />
        <activity android:name=".MYEo18" />
        <activity android:name=".MY19" />
        <activity android:name=".MY18" />
        <activity android:name=".MY17" />
        <activity android:name=".MKt217" />
        <activity android:name=".MKt19" />
        <activity android:name=".MKo18" />
        <activity android:name=".MK17" />
        <activity android:name=".LOGo18" />
        <activity android:name=".LM19" />
        <activity android:name=".LM18" />
        <activity android:name=".LM17" />
        <activity android:name=".EKt18" />
        <activity android:name=".EKo19" />
        <activity android:name=".BT19" />
        <activity android:name=".BT18" />
        <activity android:name=".BT17" />
        <activity android:name=".ARHt19" />
        <activity android:name=".ARHt18" />
        <activity android:name=".Akt19" />
        <activity android:name=".AK19" />
        <activity android:name=".AK18" />
        <activity android:name=".Akt18" />
        <activity android:name=".AUT18" />
        <activity android:name=".AUT17" />
        <activity android:name=".AUM19" />
        <activity android:name=".AUM18" />
        <activity android:name=".AUD19" />
        <activity android:name=".AT318" />
        <activity android:name=".AT219" />
        <activity android:name=".AT218" />
        <activity android:name=".AT217" />
        <activity android:name=".AT119" />
        <activity android:name=".AT118" />
        <activity android:name=".AT117" />
        <activity android:name=".APL19" />
        <activity android:name=".APL18" />
        <activity android:name=".APL17" />
        <activity android:name=".APH218" />
        <activity android:name=".APH19" />
        <activity android:name=".APH118" />
        <activity android:name=".AM19" />
        <activity android:name=".AM18" />
        <activity android:name=".AM17" />
        <activity android:name=".Maarja_Lebedev" />
        <activity android:name=".Ulle_Soeson" />
        <activity android:name=".Ulle_Kruuda" />
        <activity android:name=".Ulle_Antson" />
        <activity android:name=".Onnela_Muuga" />
        <activity android:name=".Vladislav_Tsaregordtsev" />
        <activity android:name=".Vilve_Pohla" />
        <activity android:name=".Villu_Repan" />
        <activity android:name=".Viktoria_Anusova" />
        <activity android:name=".Veronica_Reimaa" />
        <activity android:name=".Valdo_Abel" />
        <activity android:name=".Valdur_Leppik" />
        <activity android:name=".Vaike_Vetka" />
        <activity android:name=".Urmas_Treier" />
        <activity android:name=".Tonu_Mustjogi" />
        <activity android:name=".Toomas_Sommer" />
        <activity android:name=".Timo_Puistaja" />
        <activity android:name=".Tiiu_Vellevoog" />
        <activity android:name=".Tiiu_Kruusmaa" />
        <activity android:name=".Tiina_Karner" />
        <activity android:name=".Tiina_Kraav" />
        <activity android:name=".Tiina_Ilus" />
        <activity android:name=".Tiina_Hintser" />
        <activity android:name=".Tiina_Friedrichson" />
        <activity android:name=".Tiina_Aidnik" />
        <activity android:name=".Tauris_Viljar" />
        <activity android:name=".Tauri_Moones" />
        <activity android:name=".Tarmo_Teekivi" />
        <activity android:name=".Tarmo_Rand" />
        <activity android:name=".Tanel_Plovits" />
        <activity android:name=".Taissa_Sulajeva" />
        <activity android:name=".Sulev_Kiivit" />
        <activity android:name=".Sirje_Kikas" />
        <activity android:name=".Sirje_Jaar" />
        <activity android:name=".Siret_Zirk" />
        <activity android:name=".Silvia_Pihu" />
        <activity android:name=".Sille_Lillestik" />
        <activity android:name=".Sille_Eero" />
        <activity android:name=".Siiri_Kutt" />
        <activity android:name=".Sigrid_Ester_Tani" />
        <activity android:name=".Signe_Vedler" />
        <activity android:name=".Risto_Asso" />
        <activity android:name=".Riivo_Rivimets" />
        <activity android:name=".Riina_Mandla" />
        <activity android:name=".Rene_Lukk" />
        <activity android:name=".Reido_Orov" />
        <activity android:name=".Reet_Saarep" />
        <activity android:name=".Reeli_Engelbrecht" />
        <activity android:name=".Rando_Koks" />
        <activity android:name=".Rait_Koort" />
        <activity android:name=".Raissa_Orlova" />
        <activity android:name=".Part_Blank" />
        <activity android:name=".Piret_Tamm" />
        <activity android:name=".Piret_Neihaus" />
        <activity android:name=".Pille_Kessel" />
        <activity android:name=".Paula_Mall_Pedmanson" />
        <activity android:name=".Oskar_Hint" />
        <activity android:name=".Olga_Lugina" />
        <activity android:name=".Nikolai_Jukin" />
        <activity android:name=".Monika_Lattik" />
        <activity android:name=".Mirjam_Merike_Somer" />
        <activity android:name=".Mihhail_Karutin" />
        <activity android:name=".Merle_Truupold" />
        <activity android:name=".Merike_Kangro" />
        <activity android:name=".Meida_Veskus" />
        <activity android:name=".Meelis_Vaher" />
        <activity android:name=".Mati_Malm" />
        <activity android:name=".Martin_Hanson" />
        <activity android:name=".Marlene_Altmae" />
        <activity android:name=".Marko_Mumm" />
        <activity android:name=".Marju_Bergmann" />
        <activity android:name=".Maris_Tigas" />
        <activity android:name=".Marika_Paulus" />
        <activity android:name=".Mariana_Rand" />
        <activity android:name=".Margus_Ainsalu" />
        <activity android:name=".Margit_Poldmaa" />
        <activity android:name=".Marge_Kuslap" />
        <activity android:name=".Maret_Vorno" />
        <activity android:name=".Maret_Mannik" />
        <activity android:name=".Malle_Kalmus" />
        <activity android:name=".Maksim_Tjukin" />
        <activity android:name=".Maiu_Praakli" />
        <activity android:name=".Maire_Merits" />
        <activity android:name=".Maire_Linsi" />
        <activity android:name=".Maire_Kask" />
        <activity android:name=".Maigi_Lepik" />
        <activity android:name=".Maicel_Putt" />
        <activity android:name=".Madli_Roopmann" />
        <activity android:name=".Maarja_Tsimmer" />
        <activity android:name=".Ly_Otsa" />
        <activity android:name=".Ljudmila_Klotsko" />
        <activity android:name=".Lilija_Suburg" />
        <activity android:name=".Lili_Kangsepp" />
        <activity android:name=".Liivi_Raudsepp" />
        <activity android:name=".Liivi_Albre" />
        <activity android:name=".Liis_Jurjev" />
        <activity android:name=".Liia_Sinivee" />
        <activity android:name=".Lembit_Arus" />
        <activity android:name=".Lehte_Teern" />
        <activity android:name=".Lauri_Maran" />
        <activity android:name=".Larissa_Sidoruk" />
        <activity android:name=".Laili_Kannel" />
        <activity android:name=".Kulliki_Vaske" />
        <activity android:name=".Katlin_Kask" />
        <activity android:name=".Ksenia_George" />
        <activity android:name=".Kersti_Poska" />
        <activity android:name=".Katrin_Pohako" />
        <activity android:name=".Katrin_Krunvald" />
        <activity android:name=".Katrin_Kont" />
        <activity android:name=".Katrin_Jurs" />
        <activity android:name=".Karin_Traks" />
        <activity android:name=".Karin_Roosipuu" />
        <activity android:name=".Karin_Lindmagi" />
        <activity android:name=".Kamilla_Ludikainen" />
        <activity android:name=".Kalmer_Kollom" />
        <activity android:name=".Kalle_Viira" />
        <activity android:name=".Kairi_Timusk" />
        <activity android:name=".Kaire_Valb" />
        <activity android:name=".Kaire_Jogi" />
        <activity android:name=".Kaido_Voitra" />
        <activity android:name=".Kaido_Toobal" />
        <activity android:name=".Kaido_Tammepold" />
        <activity android:name=".Kadri_Meesak" />
        <activity android:name=".Kaarel_Rodima" />
        <activity android:name=".Julia_Kovalenko" />
        <activity android:name=".Johannes_Soobik" />
        <activity android:name=".Jelena_Kutsmuk" />
        <activity android:name=".Janari_Zirk" />
        <activity android:name=".Jaan_Peetso" />
        <activity android:name=".Ivar_Kaine" />
        <activity android:name=".Ismail_Mirzojev" />
        <activity android:name=".Irina_Vosar" />
        <activity android:name=".Iraida_Krivoguzova" />
        <activity android:name=".Iolanda_Partmaa" />
        <activity android:name=".Ingrid_Soot" />
        <activity android:name=".Inga_Ilves" />
        <activity android:name=".Ilvi_Palu" />
        <activity android:name=".Hindrek_Sokk" />
        <activity android:name=".Hille_Alberg" />
        <activity android:name=".Henno_Taht" />
        <activity android:name=".Helvi_Teigar" />
        <activity android:name=".Helver_Kooser" />
        <activity android:name=".Hellika_Ivanov_Simson" />
        <activity android:name=".Helina_Esnar" />
        <activity android:name=".Helin_Liiv" />
        <activity android:name=".Hele_Moor" />
        <activity android:name=".Heiki_Keem" />
        <activity android:name=".Heigo_Lipp" />
        <activity android:name=".Hedi_Manni" />
        <activity android:name=".Harri_Laustam" />
        <activity android:name=".Gerly_Sepping" />
        <activity android:name=".Gerda_Ode" />
        <activity android:name=".Gen_Lee" />
        <activity android:name=".Evely_Vutt" />
        <activity android:name=".Eve_Siimus" />
        <activity android:name=".Eve_Maeorg" />
        <activity android:name=".Erna_Urm" />
        <activity android:name=".Ene_Joeveer" />
        <activity android:name=".Elo_Oun" />
        <activity android:name=".Elme_Salik" />
        <activity android:name=".Ellen_Aunin" />
        <activity android:name=".Eliseta_Talviste" />
        <activity android:name=".Elis_Liblik" />
        <activity android:name=".Elika_Raal_Kikas" />
        <activity android:name=".Elen_Nurm" />
        <activity android:name=".Ele_Nurk" />
        <activity android:name=".Edvard_Lohmus" />
        <activity android:name=".Edda_Sooru" />
        <activity android:name=".Diana_Eller" />
        <activity android:name=".Bianka_Makoid" />
        <activity android:name=".Berit_Hipponen" />
        <activity android:name=".Astra_Pintson" />
        <activity android:name=".Arno_Ratas" />
        <activity android:name=".Anu_Tintera" />
        <activity android:name=".Anti_Kustassoo" />
        <activity android:name=".Annereet_Paatsi" />
        <activity android:name=".Anne_Mootse" />
        <activity android:name=".Anne_Krull" />
        <activity android:name=".Anna_Karutina" />
        <activity android:name=".Andrus_Kolonistov" />
        <activity android:name=".Andreas_Sester" />
        <activity android:name=".Allan_Patska" />
        <activity android:name=".Alina_Orlova" />
        <activity android:name=".Aivar_Lippmaa" />
        <activity android:name=".Aivar_Krull" />
        <activity android:name=".Airi_Auser" />
        <activity android:name=".Aina_Ruutel" />
        <activity android:name=".Ain_Veskivali" />
        <activity android:name=".Aile_Laats" />
        <activity android:name=".STR2_B02" />
        <activity android:name=".POL_F332" />
        <activity android:name=".POL_F329" />
        <activity android:name=".POL_F328" />
        <activity android:name=".POL_F327" />
        <activity android:name=".POL_F326" />
        <activity android:name=".POL_F322" />
        <activity android:name=".POL_F320" />
        <activity android:name=".POL_F221" />
        <activity android:name=".POL_F210" />
        <activity android:name=".POL_F136" />
        <activity android:name=".POL_F133B" />
        <activity android:name=".POL_F133A" />
        <activity android:name=".POL_F128" />
        <activity android:name=".POL_F124" />
        <activity android:name=".POL_F110" />
        <activity android:name=".POL_E103" />
        <activity android:name=".POL_C106" />
        <activity android:name=".POL_C105" />
        <activity android:name=".POL_B244" />
        <activity android:name=".POL_B239" />
        <activity android:name=".POL_B238" />
        <activity android:name=".POL_B235" />
        <activity android:name=".POL_B233" />
        <activity android:name=".POL_B230" />
        <activity android:name=".POL_B114" />
        <activity android:name=".POL_A314" />
        <activity android:name=".POL_A313" />
        <activity android:name=".POL_A310" />
        <activity android:name=".POL_A309" />
        <activity android:name=".POL_A308" />
        <activity android:name=".POL_A307" />
        <activity android:name=".POL_A306" />
        <activity android:name=".POL_A227" />
        <activity android:name=".POL_A221" />
        <activity android:name=".POL_A218" />
        <activity android:name=".POL_A217" />
        <activity android:name=".POL_A216" />
        <activity android:name=".POL_A215a" />
        <activity android:name=".POL_A214" />
        <activity android:name=".POL_A209" />
        <activity android:name=".POL_A146" />
        <activity android:name=".POL_A145" />
        <activity android:name=".POL_A134" />
        <activity android:name=".POL_A121" />
        <activity android:name=".POL_A119" />
        <activity android:name=".POL_A118" />
        <activity android:name=".POL_A036" />
        <activity android:name=".KPL_C202" />
        <activity android:name=".KPL_C146" />
        <activity android:name=".KPL_C140" />
        <activity android:name=".KPL_C125" />
        <activity android:name=".KPL_C124" />
        <activity android:name=".KPL_C116" />
        <activity android:name=".KPL_C115" />
        <activity android:name=".KPL_B317" />
        <activity android:name=".KPL_B316" />
        <activity android:name=".KPL_B315" />
        <activity android:name=".KPL_B314" />
        <activity android:name=".KPL_B313" />
        <activity android:name=".KPL_B312" />
        <activity android:name=".KPL_B311" />
        <activity android:name=".KPL_B310" />
        <activity android:name=".KPL_B309" />
        <activity android:name=".KPL_B308" />
        <activity android:name=".KPL_B307" />
        <activity android:name=".KPL_B306" />
        <activity android:name=".KPL_B305" />
        <activity android:name=".KPL_B302" />
        <activity android:name=".KPL_B301" />
        <activity android:name=".KPL_B230" />
        <activity android:name=".KPL_B229" />
        <activity android:name=".KPL_B228" />
        <activity android:name=".KPL_B227" />
        <activity android:name=".KPL_B226" />
        <activity android:name=".KPL_B215" />
        <activity android:name=".KPL_B214" />
        <activity android:name=".KPL_B213" />
        <activity android:name=".KPL_B211" />
        <activity android:name=".KPL_B210" />
        <activity android:name=".KPL_B209" />
        <activity android:name=".KPL_B208" />
        <activity android:name=".KPL_B207" />
        <activity android:name=".KPL_B206" />
        <activity android:name=".KPL_B205" />
        <activity android:name=".KPL_B204" />
        <activity android:name=".KPL_B202" />
        <activity android:name=".KPL_B201" />
        <activity android:name=".KPL_B171" />
        <activity android:name=".KPL_B165" />
        <activity android:name=".KPL_B162" />
        <activity android:name=".KPL_B159" />
        <activity android:name=".KPL_B158" />
        <activity android:name=".KPL_B145" />
        <activity android:name=".KPL_B121" />
        <activity android:name=".KPL_B120" />
        <activity android:name=".KPL_B115" />
        <activity android:name=".KPL_B114" />
        <activity android:name=".KPL_B112" />
        <activity android:name=".KPL_B105" />
        <activity android:name=".KPL_B104" />
        <activity android:name=".KPL_B102a" />
        <activity android:name=".KPL_B101" />
        <activity android:name=".KPL_A421" />
        <activity android:name=".KPL_A420" />
        <activity android:name=".KPL_A419" />
        <activity android:name=".KPL_A418" />
        <activity android:name=".KPL_A417" />
        <activity android:name=".KPL_A415" />
        <activity android:name=".KPL_A413" />
        <activity android:name=".KPL_A412" />
        <activity android:name=".KPL_A411" />
        <activity android:name=".KPL_A409" />
        <activity android:name=".KPL_A407" />
        <activity android:name=".KPL_A406" />
        <activity android:name=".KPL_A404" />
        <activity android:name=".KPL_A403" />
        <activity android:name=".KPL_A401" />
        <activity android:name=".KPL_A320" />
        <activity android:name=".KPL_A319" />
        <activity android:name=".KPL_A318" />
        <activity android:name=".KPL_A317" />
        <activity android:name=".KPL_A316" />
        <activity android:name=".KPL_A315" />
        <activity android:name=".KPL_A314" />
        <activity android:name=".KPL_A313" />
        <activity android:name=".KPL_A312" />
        <activity android:name=".KPL_A310" />
        <activity android:name=".KPL_A308" />
        <activity android:name=".KPL_A307" />
        <activity android:name=".KPL_A306" />
        <activity android:name=".KPL_A305" />
        <activity android:name=".KPL_A304" />
        <activity android:name=".KPL_A303" />
        <activity android:name=".KPL_A301" />
        <activity android:name=".KPL_A229" />
        <activity android:name=".KPL_A228" />
        <activity android:name=".KPL_A227" />
        <activity android:name=".KPL_A220" />
        <activity android:name=".KPL_A213" />
        <activity android:name=".KPL_A211" />
        <activity android:name=".KPL_A209" />
        <activity android:name=".KPL_A208" />
        <activity android:name=".KPL_A207" />
        <activity android:name=".KPL_A206" />
        <activity android:name=".KPL_A205" />
        <activity android:name=".KPL_A204" />
        <activity android:name=".KPL_A184" />
        <activity android:name=".KPL_A183" />
        <activity android:name=".KPL_A182" />
        <activity android:name=".KPL_A180" />
        <activity android:name=".KPL_A175" />
        <activity android:name=".KPL_A173A" />
        <activity android:name=".KPL_A171" />
        <activity android:name=".KPL_A169" />
        <activity android:name=".KPL_A160A_B" />
        <activity android:name=".KPL_A139" />
        <activity android:name=".KPL_A138" />
        <activity android:name=".KPL_A121" />
        <activity android:name=".KPL_A119" />
        <activity android:name=".KPL_A118" />
        <activity android:name=".KPL_A116" />
        <activity android:name=".KPL_A050" />
        <activity android:name=".KPL_A032B" />
        <activity android:name=".KPL_A032A" />
        <activity android:name=".RoomActivity" />
        <activity android:name=".GroupActivity" />
        <activity android:name=".TeacherActivity" />
        <activity android:name=".Settings" />
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>